* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Arial', 'sans-serif';
  font-size: 22px;
  color: #fff;
}

body {
  background-color: white;
  flex-grow: 1;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}