.footer {
    overflow: hidden;
    background-color: #232F3E;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.footer-left {
    float: left;
    width: 20%;
    padding-top: 10px;
}

.footer-right {
    float: right;
    width: 20%;
}

.footer-center {
    width: 60%;
    padding: auto;
    text-align: center;
}

.footer-center img {
    height: 50px;
}

.footer-center p {
    text-align: center;
    font-size: 14px; 
    color: #FFFFFF;
  }

.footer a {
    text-decoration: none;
  }
  
    .footer-left a {
        float: left;
        color: #FFFFFF;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 19px; 
        line-height: 25px;
        border-radius: 4px;  
        border-color:#FFFFFF;
        border: 1px solid;
        color: #FFFFFF;
        border-radius: 5px;
    }
  
  .footer-left a:hover {
    background-color: #FFFFFF;
    color: #232F3E;
  }